.Home {
  display: flex;
  align-items: center;
  background: url(../../images/wepike-2022122-234224.jpg) no-repeat;
  width: 100vw;
  height: 600px;
  margin-top: 8px;
  background-size: cover;
  z-index: -1;
}
.content {
  max-width: 50rem;
  margin-top: -30px;
  margin-left: 17px;
}
.content h3 {
  width: 773px !important;
  height: 156px !important;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 60px !important;
  line-height: 82px;
  color: white;
  margin-top: -3px !important;
  margin-left: 40px !important;
  margin-bottom: 50px !important;
}
.content h3 span {
  color: #e5a134;
  font-size: 60px;
}

.content p {
  width: 523px;
  height: 114px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: white;
  margin-left: 40px;
}
.join {
  width: 206px;
  height: 58px;
  background: #e5a134;
  border-radius: 80px;
  margin-left: 167px;
  margin-top: 40px;
}
.join span {
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  line-height: 36px;
  color: #ffffff;
}
.icons {
  width: 300px;
  margin-top: 40px;
  margin-left: 130px;
}
.icons a {
  background: #ecf0f3;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.icons a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.icons a ion-icon {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 25px;
  line-height: 60px;
  color: #464646;
}
.icons a:hover ion-icon {
  transform: scale(0.9);
}
.icons a:hover.fb ion-icon {
  color: #4267b2;
}
.icons a:hover.twitter ion-icon {
  color: #1da1f2;
}
.icons a:hover.insta ion-icon {
  color: #e1306c;
}
.icons a:hover.git ion-icon {
  color: #333;
}
.icons a:hover.yt ion-icon {
  color: #ff0000;
}
.contents {
  display: flex;
  align-items: center;
  background: url(../../images/Sans.png) no-repeat;
  width: 400px;
  height: 400px;
  /* margin-top: 8px; */
  background-size: cover;
  z-index: -1;
}
.image h3 {
  width: 773px;
  height: 156px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 82px;
  color: #e5a134;
  margin-top: -3px;
  margin-left: 299px;
  margin-bottom: 20px;
}
.image h3 span {
  color: #132039;
  font-size: 60px;
}
.image p {
  width: 523px;
  height: 114px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #464646;
  margin-left: 299px;
  margin-top: -89px;
}
.card-front__heading {
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

/* Main heading for inside page */
.inside-page__heading {
  padding-bottom: 1rem;
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 0.2rem;
}

.inside-page__heading--city,
.card-front__text-view--city {
  color: #e5a134;
}

.inside-page__heading--ski,
.card-front__text-view--ski {
  color: #e5a134;
}

.inside-page__heading--beach,
.card-front__text-view--beach {
  color: #132039;
}

.inside-page__heading--camping,
.card-front__text-view--camping {
  color: #e5a134;
}

/* Front cover */

.card-front__tp {
  color: #fafbfa;
}

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -0.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -0.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: 0.7rem 0.75rem;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all 0.3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city {
  border-color: #e5a134;
  color: #e5a134;
}

.inside-page__btn--city::before {
  background-color: #e5a134;
}

.inside-page__btn--ski {
  border-color: #e5a134;
  color: #e5a134;
}

.inside-page__btn--ski::before {
  background-color: #e5a134;
}

.inside-page__btn--beach {
  border-color: #132039;
  color: #132039;
}

.inside-page__btn--beach::before {
  background-color: #132039;
}

.inside-page__btn--camping {
  border-color: #e5a134;
  color: #e5a134;
}

.inside-page__btn--camping::before {
  background-color: #e5a134;
}

.inside-page__btn:hover {
  color: #fafbfa;
}

.inside-page__btn:hover::before {
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
  background: linear-gradient(to bottom right, #eee8dd, #e3d9c6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  margin-left: 77px;
  margin-bottom: 50px;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 17rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 17rem;
  width: 17rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: 0.75rem;
}

.card-front__tp--city {
  background: linear-gradient(to bottom, #e5a134, #a8b127);
}

.card-front__tp--ski {
  background: linear-gradient(to bottom, #608540, #588332);
}

.card-front__tp--beach {
  background: linear-gradient(to bottom, #132039, #1b3566);
}

.card-front__tp--camping {
  background: linear-gradient(to bottom, #00db93, #00b97d);
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}

/* Footer ====================================*/

/* .footer {
    background-color: #333;
    margin-top: 3rem;
    padding: 1rem 0;
    width: 100%;
  }
  
  .footer-text {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
  } */
.container {
  display: flex;
  flex-direction: row;
  margin: 24px;
  margin-left: 134px;
  align-items: center;
  margin-bottom: 30px;
}

.container:hover {
  cursor: pointer;
}

.container img {
  filter: grayscale();
  width: 400px;
  height: 400px;
  margin-top: 20px;
  border-radius: 50%;
  border: 6px solid #608540;
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 50%);
  margin-bottom: rem;
  transition: filter 0.4s ease-in-out;
}

.container:hover img {
  filter: none;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  margin-left: -122px;
  color: #608540;
  position: relative;
}

.title::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #608540;
  left: 50%;
  bottom: -10px;
  transition: all 0.4s ease-in-out;
}

.container:hover .title::after {
  width: 100%;
  left: 0;
}

.container1 {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
  margin-bottom: 28px;
}

.container1:hover {
  cursor: pointer;
}

.container1 img {
  filter: grayscale();
  width: 330px;
  height: 330px;
  margin-top: 20px;
  border-radius: 0%;
  margin-left: 4px;
  border: 6px solid #608540;
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 50%);
  margin-bottom: rem;
  transition: filter 0.4s ease-in-out;
}

.container1:hover img {
  filter: none;
}

.title1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: #608540;
  position: relative;
}

.title1::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #608540;
  left: 50%;
  bottom: -10px;
  transition: all 0.4s ease-in-out;
}

.container1:hover .title1::after {
  width: 100%;
  left: 0;
}
.image1 h3 {
  width: 773px;
  height: 156px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 82px;
  color: #e5a134;
  margin-top: -3px;
  margin-left: 80px;
  margin-bottom: 20px;
}
.image1 h3 span {
  color: #132039;
  font-size: 60px;
}
.image1 p {
  width: 523px;
  height: 114px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: white;
  margin-left: 80px;
  margin-top: -89px;
}
.cardeducation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* height: 100vh; */
  font-family: "Open Sans";
  margin-top: 30px;

  margin-bottom: 30px;
}
.education {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.credentialing {
  --bg-color: #b8f9d3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
  --bg-color: #dce9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.cardd {
  width: 207px;
  height: 231px;
  background: #a2a93970;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.cardd:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.cardd:hover .overlay {
  transform: scale(4) translateZ(0);
}

.cardd:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}
.circle img {
  width: 228px;
  height: 100px;
  margin-top: -9px;
  margin-left: -5px;
  z-index: 1;
}
.cardd:hover .circle:after {
  background: var(--bg-color-light);
}

.cardd:hover p {
  color: var(--text-color-hover);
}

.cardd:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.cardd p {
  font-size: 19px;
  color: #4c5656;
  font-weight: 900;
  margin-top: 15px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 34px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
.features h1 {
  width: 545px;
  height: 150px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;
  color: #132039;
  margin: 0 auto;
  margin-bottom: 5px;
}
.features h1 span {
  color: #e5a134;
  font-size: 60px;
}

